version: 2
updates:
  # Go
  - package-ecosystem: "gomod"
    directories:
      - "/"
      - "/internal/tools/"
    schedule:
      interval: "weekly"
    groups:
      testcontainers-go:
        patterns:
          - "github.com/testcontainers/testcontainers-go"
          - "github.com/testcontainers/testcontainers-go/modules/*"
    commit-message:
      prefix: "chore"
  # Docker
  - package-ecosystem: "docker"
    directory: "/dockerfiles/"
    schedule:
      interval: "weekly"
    groups:
      go-versions:
        applies-to: version-updates
        patterns:
          - "debian*"
          - "golang*"
    commit-message:
      prefix: "chore"
  # Github Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
