DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USERNAME="user"
DATABASE_PASSWORD="password"
# DATABASE_USERNAME_SECURE="/database:username"
# DATABASE_PASSWORD_SECURE="/database:password"
DATABASE_NAME="dbname"
DATABASE_SSLMODE="disable"

VAULT_TOKEN="myroot"
VAULT_PATH="/secret"
VAULT_ADDRESS="http://0.0.0.0:8300"
