name: Lint and Test
on: push
jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
          check-latest: true
          cache: true
          cache-dependency-path: |
            **/go.sum
            internal/tools/go.sum
      - name: Lint
        run: make lint
      - name: Make Docker images
        run: make docker
      - name: Test
        run: make test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: coverage/index.html
