name: Lint

on: push

jobs:
  lint:
    strategy:
      matrix:
        go-version: [1.21.x]
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v3

      - name: lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout=3m -v
