name: Test

on: push

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.20.x]
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Test
      run: go test -shuffle=on -race -coverprofile=coverage.txt -covermode=atomic ./...

    - name: Vet
      run: go vet ./...

    - name: Codecov
      run: bash <(curl -s https://codecov.io/bash)
